# Xarxa
DOCKER_HOST=192.168.1.144
BACKEND_URL=http://192.168.1.144:8000
MEDIA_SERVER=192.168.1.144
RTSP_PORT=8554

# Credencials de la càmera
CAMERA_ID=1
PUBLISH_TOKEN=secreto_edge_123

# Model
MODEL_PATH=/app/bestgen.engine

# Càmera CSI
WIDTH=1920
HEIGHT=1080
FPS=30

# Filtres de detecció
MIN_CONFIDENCE=0.8
MIN_DETECTION_INTERVAL=3.0

# Gestió de crops
CROP_DIR=/tmp/detection_crops
MAX_CROPS_AGE_HOURS=1
CLEANUP_INTERVAL=300

